.primary-link {
    display: inline-block;
    font-family: 'Karla';
    margin-left: 33px;
    padding: 13px 28px 12px 28px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    box-sizing: content-box;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1.5px;
    background-color: #FFFFFF;
    border: 1.5px solid #2C2830;
    color: #2C2830;
}